html {
  /* background-color: lavenderblush; */
}

h1,h2,h3,h4,h5,h6 {

}
p {
  /* color: maroon; */
  /* background-color: #e64875; */
}

body {
  background-color: #e64875;
  height: 100vh;
  width: 100vw;
}

main {
  /* width: 80vw; */
  padding: 10vw;
  background-image: url("email-pattern.png");
}

main a {
  color: black;
}

main a:visited {
  color: black;
}

.blog-preview {
  width: 46%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  border: solid 1px;
  padding: 1.5%;
}

.blog-preview:nth-child(odd) {
  margin-right: 2%;
}

.blog-preview:nth-child(even) {
  margin-left: 2%;
}

footer ul {
  list-style: none;
}
footer li {
  display: inline;
  width: 200px;
  margin: 0 59px;
}
a {
  color: #61c0bf;
}
a:visited {
  color: #beff0a;
}


/*colors*/
/*
#beff0a - lime
#e64875 - pink
#61c0bf - blue
*/
